<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>New Project</title>
</head>
<body>

	<div th:fragment="form"  xmlns:th="http://www.thymeleaf.org" th:remove="tag" >
		<form id="form-id" name="project" class="form-horizontal" th:action="@{/projects}" th:object="${projectForm}" method="post">
			<input type="hidden" th:field="*{projectId}" th:value="*{projectId}">
			
			<th:block th:with="attribute=projectName">
				<label th:for="${attribute}">Project Name: </label>
				<input th:id="${attribute}" th:field="*{__${attribute}__}" type="text"  placeholder="Please enter a project name"/>
				<span th:if="${#fields.hasErrors(attribute)}" th:errors="*{__${attribute}__}">Field Error</span>
			</th:block>
			<br>
			
			<th:block th:with="attribute=projectDescription">
				<label th:for="${attribute}">Project Description: </label>
				<input th:id="${attribute}" th:field="*{__${attribute}__}" type="text"  placeholder="Please enter a project description"/>
				<span th:if="${#fields.hasErrors(attribute)}" th:errors="*{__${attribute}__}">Field Error</span>
			</th:block>
			<br>
			
			<br>
			
			<th:block th:with="attribute=projectCohort">
				<label th:for="${attribute}">Select Cohort: </label>
				<select th:id="${attribute}" th:field="*{__${attribute}__}" onchange="setCohort.click()">
					<!--  <option th:value="0" text="Please Select" selected disabled hidden>Please Select</option>-->
					<option th:value="null" hidden="hidden" style="display: none;" selected>Please Select</option>
					<option th:each="cohort : ${cohortList}" th:value="${{cohort}}" th:id="${{cohort}}" th:text="${cohort.cohortUnit.unitName + ' ' + cohort.cohortYear}"></option>
				</select>
			</th:block>
			
			<button style="display: none;" type="submit" id="setCohort" name="setCohort">Set Cohort</button>
			
			<div th:each="assessment, a: *{projectAssessments}">
				<input type="hidden" th:field="*{projectAssessments[__${a.index}__].assessmentId}" th:value="*{projectAssessments[__${a.index}__].assessmentId}">
			
				<th:block th:with="attribute=projectAssessments[__${a.index}__].assessmentName">
	 				<label th:for="attribute" >Assessment Name: </label>
					<input th:id="attribute" th:field="*{__${attribute}__}" type="text" placeholder="Please enter an assessment name"/>
					<span th:if="${#fields.hasErrors(attribute)}" th:errors="*{__${attribute}__}">Field Error</span>
				</th:block>
				<br>
				
				<th:block th:with="attribute=projectAssessments[__${a.index}__].assessmentDescription">
	 				<label th:for="attribute" >Assessment Description: </label>
					<input th:id="attribute" th:field="*{__${attribute}__}" type="text" placeholder="Please enter an assessment description"/>
					<span th:if="${#fields.hasErrors(attribute)}" th:errors="*{__${attribute}__}">Field Error</span>
				</th:block>


				<button  name="removeAssessment" type="submit" th:value="${a.index}">Remove Assessment</button>
				<br>
				<br>
				
			</div>
			<br>
			
			<button id="addAssessment" name="addAssessment" type="submit">Add Assessment</button>
			<button id="saveProject" name="saveProject" type="submit">Save Project</button>
			
			<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
			<script>
	
				$(document).ready(function() {
					var clkBtn = "";
					$('button[type="submit"]').click(function(evt) {
						clkBtn = evt.target;
					});
	
					(function($) {
						var $form = $('#form-id');
						$form.on('submit', function(e) {
							e.preventDefault();
							$.ajax({
								url : $form.attr('action'),
								type : 'post',
								data : $form.serialize() + '&' + clkBtn.name + '=' + clkBtn.value,
								success : function(response) {
									$form.replaceWith(response);
								}
							});
						})
					}(jQuery));
				});
			</script>
			
		</form>
		
	</div>
	
	<br>
	<a href="/projects">View Projects</a>

</body>
</html>